name: Cloud PC

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    timeout-minutes: 360

    steps:
    - name: Set up system
      run: |
        sudo apt update
        sudo apt install -y xfce4 xfce4-goodies wget curl unzip

    - name: Install Chrome Remote Desktop
      run: |
        wget https://dl.google.com/linux/direct/chrome-remote-desktop_current_amd64.deb
        sudo apt install -y ./chrome-remote-desktop_current_amd64.deb

    - name: Configure desktop
      run: |
        echo "exec xfce4-session" > ~/.xsession
        sudo systemctl disable lightdm.service || true

    - name: Start Chrome Remote Desktop
      run: |
        DISPLAY=:0 /opt/google/chrome-remote-desktop/start-host \
          --code="4/0ASc3gC2vSVB8ZjwJEFHc_WQ9ZnZev_rZ2MMr06MrJwfGR_kBe9ynCouJoDTfedJk0kD4hg" \
          --redirect-url="https://remotedesktop.google.com/_/oauthredirect" \
          --name=$(hostname) \
          --pin=123456
        sleep 21600
