name: Cloud PC Tailscale

on:
  workflow_dispatch:

jobs:
  cloudpc:
    runs-on: ubuntu-latest
    timeout-minutes: 360

    steps:
      - name: Update
        run: sudo apt update

      - name: Install Tailscale
        run: curl -fsSL https://tailscale.com/install.sh | sh

      - name: Start Tailscale
        run: sudo tailscale up --authkey=${{ secrets.TS_AUTHKEY }} --hostname=github-cloud-pc

      - name: Show IP
        run: tailscale ip -4

      - name: Keep alive
        run: sleep 21600
